.back_button {
  position: absolute;
  top: 0;
  left: 0;
  filter: invert(1);
  z-index: 20;
}

.menu_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

button {
  font-size: 24px;
  padding: 8px;
}
